---
layout:             main
title:              Tagged
---

{% include tag_parser.html %}

<h3>Search Blog Postings by Tags:</h3>

{% if tags %}
<div class="tag-cloud" id="Tags">
    {% for tag in tags %}
        <a class="tag-anchor" href="#{{ tag | slugify }}"><i class="fa fa-tag muted" aria-hidden="true"></i> {{ tag }}</a>
    {% endfor %}
</div>
{% endif %}

<div class="posts">
    {% for tag in tags %}
    <style>
        #{{ tag | slugify }} {
        transition: opacity 0.5s ease-out;
        opacity: 0;
        height: 0;
        overflow: hidden;
        }

        #{{ tag | slugify }}:target {
        opacity: 1;
        height: auto;
        }
    </style>

    <div id="{{ tag | slugify }}">
        <h4><i class="fa fa-tag muted" aria-hidden="true"></i> {{ tag }}</h4>

        {% for post in site.posts %}
            {% if post.tags contains tag %}
                <div class="post-list">
                    <div class="post-list-date"><small>{{ post.date | date: "%b %d, %Y" }}</small></div>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <div class="post-list-desc">{{ post.description }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
