/*! Page Layout Styles */

.page {
    margin-bottom: 4rem;

    a {
        border-bottom: 1px solid #069;
    }

    a:hover {
        border: 0;
    }
}

.page-title {
    margin-top: 0;
}

.page-top-meta {
    margin-bottom: 1rem;
}