/*! Project Layout Styles */

.project {
    margin-bottom: 4rem;
    overflow: hidden;

    a {
        border-bottom: 1px solid #006699;
    }
    a:hover {
        border: 0;
    }
}

.project-top-meta {
    margin-bottom: 1rem;
}

.project-title {
    margin-top: 0;
}

.project-date {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.project-list {
    margin: 0px auto 0px;
    text-align: center;
}

.project-thumb {
    position: relative;
    margin: 7px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0 3px 6px #00000080, 0 3px 6px #00000080;
}

.project-thumb-overlay {
    height: 100%;
    width: 100%;
    background-color: #000000e6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    -ms-transition: opacity 100ms ease-in-out;
    -moz-transition: opacity 100ms ease-in-out;
    -o-transition: opacity 100ms ease-in-out;
    -webkit-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;

    strong {
        padding: 20px;
        color: #ffffff;
        display: block;
        line-height: 1.5;
        font-size: 20px;
        font-weight: 400;
    }
    &:hover {
        opacity: 1;
    }
}

.project-image {
    width: 100%;
    display: block;
    text-align: center;

    a {
        border: 0;
    }
    a:hover {
        background-color: transparent;
    }
}

.project-video {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;     /* 16:9 */
    padding-top: 25px;
}

.project-video iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
