/*! ---------- Basic Layout CSS ---------- */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #555555;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    border-bottom: 1px solid #006699;
    color: #006699;
    text-decoration: none;
    transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    -webkit-transition: all 100ms ease;

    &:hover {
        border: 0;
        background-color: #006699;
        color: #ffffff;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #444444;
    line-height: 1.25;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    margin-bottom: -10px;
    font-size: 1.05rem;
}

dl,
ol,
p,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
}

hr {
    position: relative;
    margin: 1.25em 0;
    border: 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

code {
    color: #f14e32;
    font-family: "Fira Mono", monospace;
}

pre {
    max-height: 800px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: .5rem 2rem .5rem .5rem;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    display: block;
    line-height: 1.4;
    font-family: "Fira Mono", monospace;
    font-size: 0.6rem;
    white-space: pre;
    overflow: auto;

    code {
        padding: 0;
        background-color: transparent;
        color: inherit;
        display: block;
        font-size: 0.6rem;
    }
    .line-number {
        margin: 0 1em 0 -1em;
        border-right: 1px solid #dddddd;
        display: block;
        float: left;
        text-align: right;

        span {
            padding: 0 1em 0 1em;
            color: #006600;
            display: block;
        }
    }
    .cl {
        display: block;
        clear: both;
    }
}

blockquote {
    padding: 0.5rem 1rem;
    margin: 0.8rem 0;
    border-left: 0.25rem solid #dddddd;
    color: #7a7a7a;
    background: #ffffff;
}

blockquote p:last-child {
    margin-bottom: 0;
}

img {
    height: auto;
    max-width: 100%;
    margin: 0.5rem 0.5rem;
    border-radius: 3px;
    box-shadow: 0 1px 3px #000000;
}

strong {
    font-weight: 500;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}

td,
th {
    padding: 0.25rem 0.5rem;
    border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) {
    td,
    th {
        background-color: #f9f9f9;
    }
}

/*! ---------- Class Styles ---------- */
.back {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bezel {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.copyright {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #777777;
    font-size: 0.8em;
}

.masthead {
    margin-top: -20px;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dddddd;
    background-color: #f0f0f0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.muted {
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

.site-title {
    margin-top: 2rem;
    margin-bottom: 0;
    color: #555555;

    small {
        color: #555555;
        display: block;
        font-size: 0.75em;
        font-weight: normal;
        letter-spacing: 0;
        clear: both;
    }
}

.site-nav {
    max-width: 60rem;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.4;

    &:after {
        display: table;
        clear: both;
        content: "";
    }

    li {
        list-style-type: none;

        a {
            margin-left: 2px;
            margin-right: 2px;
            padding: 5px 10px;
            border: 1px solid transparent;
            border-bottom: 0;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            background: #ffffff;
            color: #444444;
            white-space: nowrap;
            letter-spacing: 1px;
            box-shadow: 0 1px 2px rgba(0,0,0,0.15);

            &:hover {
                background: #006699;
                color: #ffffff;
                box-shadow: 0 1px 2px rgba(0,0,0,0.35);
            }
        }
    }
}

.site-nav-left {
    margin: 20px 0 0 -42px;

    li {
        float: left;
    }
}

.site-nav-right {
    li {
        float: right;
    }
}

.spacer {
    height: 3rem;
    margin: 0 auto;
    display: block;
}

.tag-cloud {
    margin-bottom: 16px;

    a.tag-anchor {
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 4px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid transparent;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background: #f0f0f0;
        color: #444444;
        display: inline-block;
        white-space: nowrap;
    }
    a.tag-anchor:active,
    a.tag-anchor:focus,
    a.tag-anchor:hover {
        color: #ffffff;
        background: #006699;
    }
}
