<div class="site-nav">
    <div class="site-nav-left">
        <ul>
            <li><a href="/" title="Home"><i class="fa fa-home"></i></a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/tagged">Tags</a></li>
        </ul>
    </div>
    <div class="site-nav-right">
        <ul>
            <li><a href="{{ site.url }}/feed.xml" title="RSS Feed" target="_blank"><i class="fa fa-rss"></i></a></li>
            <li><a href="https://www.instagram.com/spieswl/" title="Instagram Profile" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/spieswl2/" title="LinkedIn Profile" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://github.com/spieswl?tab=repositories" title="GitHub Repositories" target="_blank"><i class="fa fa-github-alt"></i></a></li>
        </ul>
    </div>
</div>
