<div class="footer-social-links">
    <a href="http://www.spieswl.com/feed.xml" title="RSS Feed" target="_blank"><i class="fa fa-rss"></i></a>
    <a href="https://www.linkedin.com/in/william-lyle-spies-02/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.facebook.com/spieswl" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="http://spieswl.github.io/my-repos/" title="GitHub Repositories" target="_blank"><i class="fa fa-github-alt"></i></a>
    <a href="http://spieswl.github.io/my-gists/" title="GitHub Gists" target="_blank"><i class="fa fa-code"></i></a>
</div>
