<div class="footer-social-links">
    <a href="{{ site.url }}/feed.xml" title="RSS Feed" target="_blank"><i class="fa fa-rss"></i></a>
    <a href="https://github.com/spieswl?tab=repositories" title="GitHub Repositories" target="_blank"><i class="fa fa-github-alt"></i></a>
    <a href="https://www.linkedin.com/in/william-lyle-spies-02/" title="LinkedIn Profile" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.instagram.com/spieswl/" title="Instagram Profile" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/spieswl" title="Facebook Profile" target="_blank"><i class="fa fa-facebook"></i></a>
</div>
