---
published:          true
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

    {% include head.html %}

    <body>
        <div class="wrap">
            <div class="masthead">
                <div class="container">
                    <h1 class="masthead-title">
                        {{ site.title | upcase }}
                        <small>{{ site.tagline }}</small>
                    </h1>
                    {% include nav.html %}
                </div>
            </div>
            <div id="content" class="container content">
                {{ content }}
            </div>
        </div>
        {% include foot.html %}
    </body>

</html>
