---
layout:             main
---

<div class="post">
    <div class="post-top-meta">
        <div class="post-date">{{ page.date | date: "%B %d, %Y" }} &middot; {% include read_time.html %}</div>
        <h1 class="post-title">{{ page.title }}</h1>
    </div>

    {{ content }}

    {% assign post = page %}
        {% if post.tags.size > 0 %}

            {% assign tags_content = "" %}
            {% for post_tag in post.tags %}
                {% capture tags_content_temp %}
                    {{ tags_content }}<a href="{{ site.url }}{{ site.baseurl }}/tagged#{{ post_tag | slugify }}"><i class="fa fa-hashtag muted" aria-hidden="true"></i>{{ post_tag }}</a>
                {% endcapture %}
                {% assign tags_content = tags_content_temp %}
            {% endfor %}

            <div class="tagged">
                {{ tags_content }}
            </div>
        {% endif %}

</div>
